
.inpur__box{
    width: 100%;
    background-color: #c7c3c7;
    padding: .5rem;
    border-radius: .2rem;
}

.input__box input{
    background-color:black;
    border: 0;
    border-radius: 1rem;
    height: 2.4rem; 
    width: 100%;  
    outline: none;
    padding-inline: .5rem;
    color : #efeeee;
    box-shadow: 15px 15px 15px rgba(19, 46, 46, 0.979);
    border: .1rem solid rgb(182, 51, 51);
}  

.input__box input::placeholder{
    color: #897f7f;
    font-weight: 500;
    text-transform: capitalize;

}