
.button{
    margin: .5rem .5rem ;
    background-color: transparent;
    border: 1px dottd #fb0404;
    padding: .5rem 1rem;
    color:  .5rem 1rem;
    cursor: pointer;
    font-weight: 700;
    transition: all .4 ease-in-out;
    border-radius: .8rem;
}

.button:hover{
    background-color: #5cdfeb;
    color: #f90505;
    font-weight:bolder;
    
}