
.home{
    width: 70%;
    margin: 0 auto;
    margin-block: 2rem;

}

.winner{
    margin-block: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.winner_info{
    background: linear-gradient(rgb(21, 46, 56),rgb(84, 82, 82),rgb(45, 58, 70));
    padding: 1rem;
    border-radius: .2rem; 
    border-radius: .8rem;
    box-shadow: 10px 10px 15px rgba(95, 218, 91, 0.57);
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;

}


.winner_message{
    background: linear-gradient(rgb(21, 46, 56),rgb(84, 82, 82),rgb(45, 58, 70));
    padding: 2rem;
    border-radius: .2rem;
    font-size: 1.5rem;
    color: #b3b8cd;
    line-height: 0;
    position: relative;
    border-radius: .8rem;
    box-shadow: 8px 8px 8px rgba(240, 4, 4, 0.448);
    

}

.winner_message small{
    font-size: 5rem;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.candidate_list{
    /* background-color: #8aac02; */
    background: linear-gradient(rgb(14, 31, 37),rgb(56, 54, 54),rgb(34, 44, 54));
    font-size: 1rem;
    padding: .1rem 1rem;
    border-radius: .8rem;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);

}

.candidate_list p{
    font-weight: 600;
}

.candidate_list samp{
    background-color: #231e39;
    padding: 1.5rem;
    margin-left: .5rem;
    color: #b3b8cd;
    border-radius: .2rem;  
}

/* /// . Media query// */


@media screen  and (max-width: 35em){
   .home{
    width: 90%;

   } 
   .winner{
    grid-template-columns: 1fr;
   }
   .winner_message small{
    font-size: 2rem;
   }
}
